<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Guerra</li>
</ul>

<div class="css">
    <img src="https://dvdefilme.files.wordpress.com/2012/07/cc3b3digos-de-guerra.jpg">
    <img src="https://apaixonadosporhistoria.com.br/img/filmecapa/filmecapa_20181028100721_908713879.jpg">
    <img src="https://br.web.img3.acsta.net/c_310_420/medias/nmedia/18/87/31/36/19874211.jpg">
    <img src="https://s2.glbimg.com/T9_QN3WDnMiCJBhjkRanrTWwoGA=/362x536/https://s2.glbimg.com/H9sLjnVv_eNaX8IBpjwBiu56778=/i.s3.glbimg.com/v1/AUTH_c3c606ff68e7478091d1ca496f9c5625/internal_photos/bs/2020/z/5/C1qeGsS5KhNsJrAEiwsg/2019-653-mk-filmes-paramount-o-resgate-do-soldado-ryan-poster.jpg">
    <img src="https://i2.wp.com/i.imgur.com/G0x8i0c.jpg?resize=220%2C280&ssl=1">
    <img src="https://br.web.img2.acsta.net/pictures/210/123/21012316_20130613134835273.jpg">
    <img src="https://br.web.img2.acsta.net/c_310_420/pictures/21/05/26/20/19/2966501.jpg">
    <img src="https://media.fstatic.com/VEyqm1_YdY5VtxGxSSatgA-W44k=/290x478/smart/media/movies/covers/2021/09/A_Outra_Face_da_Guerra_1.jpg">
    <img src="https://apaixonadosporhistoria.com.br/img/filmecapa/filme_356_13329558.jpg">
    <img src="https://lojasaraiva.vteximg.com.br/arquivos/ids/1791567/1003566014.jpg?v=637005269768900000">
</div>
