<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Faroeste</li>
</ul>

<div class="css">
    <img src="https://img.travessa.com.br/livro/GR/96/96992883-2b38-4485-922c-8ebbe066912b.jpg">
    <img src="https://br.web.img2.acsta.net/medias/nmedia/18/92/42/91/20198703.jpg">
    <img src="https://br.web.img2.acsta.net/pictures/16/06/23/16/28/282704.jpg">
    <img src="https://br.web.img2.acsta.net/pictures/210/152/21015265_20130625184150906.jpg">
    <img src="https://i.pinimg.com/736x/9e/47/e6/9e47e631a8d4b2e99513b87ac736e5ab.jpg">
    <img src="https://images-na.ssl-images-amazon.com/images/I/91yEXD4LULL.jpg">
    <img src="https://br.web.img3.acsta.net/medias/nmedia/18/97/40/14/20527125.jpg">
    <img src="https://media.fstatic.com/XVzMIWqg7umzDps7Rsm8uIbOnxk=/290x478/smart/media/movies/covers/2012/10/f4d91034d947c66a06de70bb7b7d2d84.jpg">
    <img src="https://3.bp.blogspot.com/-Cnklg-ywAYc/WJcrb5lvtdI/AAAAAAAAw8M/Y6UAfEuAFgc4GkZeqXca2yJjQ2cRGyeYQCLcB/s1600/Judge2.jpg">
    <img src="https://br.web.img3.acsta.net/medias/nmedia/18/95/60/87/20418132.jpg">
</div>
