<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Comédia</li>
</ul>

<div class="css">
    <img src="https://one-cinema.s3.sa-east-1.amazonaws.com/filmes/minha-vida-em-marte/10062020/342/capa-minha-vida-em-marte.jpg">
    <img src="https://play-lh.googleusercontent.com/tdIhEqcqU-Yn-QOFKMwBdxbbTYsZ7xDIYBtZF33BxPPm5ErURpaZX4uG25cVDDEmdAGr">
    <img src="https://images-na.ssl-images-amazon.com/images/I/91zB1BFtrZL.jpg">
    <img src="https://br.web.img3.acsta.net/pictures/20/01/28/22/54/2304385.jpg">
    <img src="https://br.web.img3.acsta.net/medias/nmedia/18/89/61/19/20057844.jpg">
    <img src="https://image.tmdb.org/t/p/w342/6mP87KJtKCRHt1hfyWswYupkCtE.jpg">
    <img src="https://http2.mlstatic.com/D_NQ_NP_895209-MLB40134211034_122019-O.jpg">
    <img src="https://www.itaucinemas.com.br/_img/_filmes/2713_capa.jpg?Doentes-de-Amor">
    <img src="https://br.web.img3.acsta.net/pictures/19/05/14/17/31/0716556.jpg">
    <img src="https://play-lh.googleusercontent.com/vaUQFY-v9IkDclMcpqb2o3On9csvI1I4fl_wS7-IdoxdMkzClv3mtweZbon2Mpo_Zqddaw">
</div>
