.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    background: rgba(212, 205, 205, 0.465);
  }
  
  .header {
    position: fixed;
    top: -200;
    left: 0;
    right: 0;
    bottom: -200;
    background: red;
  }
  
  a{
    text-decoration: none;
    font-size: 20px;
  }
  h3{
    font-size: 20px;
  }
