<ul class="breadcrumb">
    <li><a routerLinkActive="active" 
    routerLink="/home">Home</a></li><li>Drama</li>
</ul>

<div class="css">
    <img src="https://m.media-amazon.com/images/I/915+JFp47-L._AC_SY741_.jpg">
    <img src="https://m.media-amazon.com/images/I/61KdrZhfh5L._AC_SX466_.jpg">
    <img src="https://images-na.ssl-images-amazon.com/images/I/91K-MrUTNOL.jpg">
    <img src="https://cdn.fstatic.com/media/groups/2017/04/23/2014-160495884.jpg">
    <img src="https://capas.catalogoeditorial.com.br/55556635g.jpg">
    <img src="https://sistematicas.files.wordpress.com/2014/06/12-anos-de-escravidao-12-years-a-slave.jpg?w=683&h=1024">
    <img src="https://upload.wikimedia.org/wikipedia/pt/f/f5/The-Last-Song-Poster.JPG">
    <img src="https://lojasaraiva.vteximg.com.br/arquivos/ids/1509322/1000198346.jpg?v=637004060151930000">
   <img src="https://nesfreitas.files.wordpress.com/2016/03/o-pianista-capa-filme.jpg?w=686">
    <img src="https://m.media-amazon.com/images/I/716E447o8oL._AC_SY879_.jpg">
</div>
